In [1]:

#2nd Feb Assignment

In [ ]:
#Q 1:
#For Loop:
#  for loop is a control flow statement that executes code repeateddly for a particular number of iterations.
#in this control flow statement,the keyword used is for. the loop is used when the number of iterations is already known.


#Example of for loop
# n=[1,2,3]    initialization
# for i in n:    condtion and updation
 #     print(i)
    
# While loop: a loop that executed a single statement or a group of statement for the given true condition.
# the keyword is used to represent this loop is "While". A while loop is used when the number of iteration is unknown.
# the statement repeats itself till the boolean value becomes false.

#Example of while loop
# i=1    initialization
#while i<6:    condition
#   print(i)
#   i=i+1        updation

In [1]:
# Q2 Ans
# part 1 :  for loop
sum=0
product=1
for i in range(1,11):
    sum=sum+i
    product=product*i
print(sum)
print(product)

55
3628800

In [2]:
# Q2 Ans:
#part 2: while loop
sum=0
product=1
i=1
while(i<=10):
    sum=sum+i
    product=product*i
    i=i+1
print(sum)
print(product)

55
3628800

In [1]:
#Q3 Ans:
n= int(input("Enter your  elctricity consumed unit"))
if n<=100:
    charge=n*4.5
    print(charge)
elif n>100 and n<=200:
    charge=100*4.5+(n-100)*6
    
    print(charge)
elif n<200 and n>=300:
    charge=100*4.5+100*6+(n-200)*10
    print(charge)
else:
    charge=100*4.5+100*6+100*10+(n-300)*20
    print(charge)

Enter your  elctricity consumed unit 310

2250.0

In [4]:
#Q4 ans: for loop
l=[]
for i in range(1,101):
    cube = i**3
    if cube%4==0 or cube%5==0:
        l.append(cube)

In [5]:
l

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [9]:
#Q4: using while loop
l1=[]
i=1
while i<=100:
    cube=i**3
    i=i+1
    if cube%4==0 or cube%5==0:
        l1.append(cube)

In [10]:
l1

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [45]:
#Q5 Ans:
s="i want to become data scientist"
l3=[]
for i in s:
    if i=="a" or i=="e" or i=="i" or i=="o" or i=="u":
        l3.append(i)
print(l3)
a=l3.count("a")
b=l3.count("e")
c=l3.count("i")
d=l3.count("o")
e=l3.count("e")
f=a+b+c+d+e
print("total vowels is:",f)

['i', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'i', 'e', 'i']
total vowels is: 14